{% load static %}
{% load spurl %}
{% if page_obj.has_other_pages %}
<div class="flex justify-center items-center mt-4">
  <nav class="bg-white p-2 rounded-lg shadow-md">
    <ul class="flex space-x-2">
      {% if page_obj.number|add:-1 > 0 %}
      <li>
        <a href="{% spurl query=request.GET set_query='page={{ page_obj.number|add:-1 }}' %}" class="px-3 py-2 text-gray-600 hover:text-blue-500">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% for p in paginator.page_range %}
      <li>
        {% if page_obj.number == p %}
        <span class="px-3 py-2 bg-blue-500 text-white rounded-md">{{ p }}</span>
        {% else %}
        <a href="{% spurl query=request.GET set_query='page={{ p }}' %}" class="px-3 py-2 text-gray-600 hover:text-blue-500">
          {{ p }}
        </a>
        {% endif %}
      </li>
      {% endfor %}
      {% if page_obj.number|add:1 <= paginator.num_pages %}
      <li>
        <a href="{% spurl query=request.GET set_query='page={{ page_obj.number|add:1 }}' %}" class="px-3 py-2 text-gray-600 hover:text-blue-500">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %}